<?xml version="1.0"?>
<robot name="cuboid">
  <link name="cuboid">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.8 4 0.6"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.8 4 0.6"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="1.34" ixy="0.0" ixz="0.0" iyy="0.12" iyz="0.0" izz="5.44"/>
    </inertial>
  </link>
</robot>
